{% extends 'base.html' %}

{% block head %}
    <title>Task Master</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Task Master</h1>
        <form action="/" method="post">
            <input type="text" name="content" id="content" placeholder="Enter a task">
            <input type="submit" value="Add Task">
        </form>
        <h4>No tasks yet, enter a new task below.</h4>
        {% if tasks| length < 1 %}
        <figure style="align-content: center;">
            <img src="../static/images/rb_986.png" alt="Free Vector image for tasks" width="200" srcset="">
            <figcaption aria-details="https://www.freepik.com/free-vector/3d-cartoon-style-clipboard-with-document-icon-realistic-paper-holder-with-contract-agreement-flat-vector-illustration-management-information-assignment-concept_42331782.htm#fromView=keyword&page=1&position=37&uuid=7ba21c2b-0795-4f9c-b938-b7049e759c3d&new_detail=true">Image by Kampus on Freepik</figcaption>
        </figure>
        {% else %}
        <table border="1">
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{ task.id }}">Delete</a>
                    <br>
                    <a href="/update/{{ task.id }}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}